@charset "HTF-8";


@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: #1D232A;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    color:white
}

.cabecalho{
    display:flex;
}

